<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <application
        android:name=".ProxMoxOpenApp"
        android:allowBackup="false"
        android:label="ProxMoxOpen"
        android:theme="@style/Theme.ProxMoxOpen"
        android:usesCleartextTraffic="false">
    </application>
</manifest>
